.product-table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.product-table{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 18px;
}

.table-header{
    color: white;
    background-color: slategray;
}

.product-list > td{
    background: lightgrey;
    color: black;
    text-align: center;
    border: 1px solid black;
}

.delete-btn{
    margin-bottom: 3px;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
}

.delete-btn:hover{
    color: black;
    background: white;
    transition: ease-in-out 0.5s;
}


