{% extends 'layout.html' %}
{% block title %} Retrieve Tutorial {% endblock %}
{% block content %}
{% from "formHelper.html" import render_field %}



        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h2 class="display-4 fw-bolder">Update Accessory</h2>
                </div>
            </div>
        </header>
        <div class="update-form">
            <form method="POST" enctype="multipart/form-data">
                <div class="update-form-group">
                    <div class="update-form-label">

                        {{ form.name.label }} ({{ item['name'] }})
                    </div>
                    <br>
                    {{ form.name }}
                </div>
                <div class="update-form-group">
                    <div class="update-form-label">

                        {{ form.brand.label }} ({{ item['brand'] }})
                    </div>
                    <br>
                    {{ form.brand }}
                </div>
                <div class="update-form-group">
                    <div class="update-form-label">

                        {{ form.description.label }} ({{ item['description'] }})
                    </div>
                    <br>
                    {{ form.description }}
                </div>
                <div class="update-form-group">
                    <div class="update-form-label">

                        {{ form.price.label }} ({{ item['price'] }})
                    </div>
                    <br>
                    {{ form.price }}
                </div>
                <div class="update-form-group">
                    <div class="update-form-label">

                        {{ form.file.label }} ({{ item['image'] }})
                    </div>
                    <br>
                    {{ form.file }}
                </div>
                <div class="update-form-group">
                    <div class="update-form-label">

                        {{ form.offer.label }} ({{ item['offer'] }})
                    </div>
                    <br>
                    {{ form.offer }}
                </div>
                <div class="update-form-group">
                    <button class="btn btn-primary" type="submit" name="submit" value="{{ item['id'] }}">Add New Product</button>
                </div>
            </form>
        </div>

{% endblock %}
