    {% extends "layout.html" %}

{% block content %}
    <section>
        <div class="top-picture">
            <img src="static/images/homepic.png" alt="">
            <h1 class="img-header">PREMIUM PLAYING CARDS</h1>
            <h5 class="img-text">A curated selection of the finest playing cards in the world.</h5>
            <a class="btn" href="">SHOP NOW &#8594;</a>
        </div>
    </section>

    <!-------- featured top selling decks ---------->
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">TOP SELLING DECKS <i class="fa-solid fa-crown"></i></h1>
                    <p class="lead fw-normal text-white-50 mb-0">Up to 20% off on selected products! <br> Get Them Now!</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for item in top_items %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            {% if not(item['price'] == item['offered price']) %}
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            {% else %}
                            {% endif %}
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ url_for('static', filename='uploads/'+item['image']) }}" alt="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ item['name'] }}</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    {% if not(item['price'] == item['offered price']) %}
                                        <span class="text-decoration-line-through">${{ item['price'] }}</span>
                                        <span>${{ item['offered price'] }}</span>
                                    {% else %}
                                        <span >${{ item['price'] }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <form method="POST">
                                        <button class="btn btn-outline-dark flex-shrink-0" type="submit" value="{{ item['id'] }}" name="id">View Option</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>


    <!------ featured new arrivals -------->
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">NEW ARRIVALS</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Get your hands on them now!</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for item in new_items %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            {% if not(item['price'] == item['offered price']) %}
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            {% else %}
                            {% endif %}
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ url_for('static', filename='uploads/'+item['image']) }}" alt="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ item['name'] }}</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    {% if not(item['price'] == item['offered price']) %}
                                        <span class="text-decoration-line-through">${{ item['price'] }}</span>
                                        <span>${{ item['offered price'] }}</span>
                                    {% else %}
                                        <span >${{ item['price'] }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <form method="POST">
                                        <button class="btn btn-outline-dark flex-shrink-0" type="submit" value="{{ item['id'] }}" name="id">View Option</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <footer>
            <div class="global">
                    <div class="footer-container">
                        <div class="row">
                            <div class="home-column">
                                <h6>Services</h6>
                                <ul>
                                    <li><a href="">Contact Us</a></li>
                                    <li><a href="">My Account</a></li>
                                    <li><a href="">Shipping & Returns</a></li>
                                    <li><a href="">Terms & Services</a></li>
                                    <li><a href="">Refund Policy</a></li>
                                </ul>
                            </div>
                            <div class="home-column">
                                <h6>Categories</h6>
                                <ul>
                                    <li><a href="">Playing Cards</a></li>
                                    <li><a href="">Accessories</a></li>
                                    <li><a href="">Tutorials</a></li>
                                </ul>
                            </div>
                            <div class="home-column">
                                <h6>Legal</h6>
                                <ul>
                                    <li><a href="">Terms & Conditions</a></li>
                                    <li><a href="">Privacy Policy</a></li>
                                    <li><a href="">Terms of use</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="social-icons">
                            <h4>Follow Us</h4>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-google"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <p class="copyright"> &copy; Copyright All rights reserved.</p>
                    </div>
            </div>
        </footer>
























































{% endblock content %}
