<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tutorial.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
        {% block navbar %}
            {% include 'includes/_navbar(2).html' %}
        {% endblock %}



    <!----- side navbar ------>




                <!-----header---->

        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Tutorial Library</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Get started on your magical journey!</p>
                </div>
            </div>
        </header>

        <div class="sidebar">
            <header>Filter By</header>
            <ul>
                <li>Trick <input type="radio" name="radio" onclick="FilterTrick(type)"></li>
                <li>Sleight of Hand <input type="radio" name="radio" onclick="FilterSOH(type)"></li>
                <li>Flourishes <input type="radio" name="radio" onclick="FilterFlourish(type)"></li>
                <li>Non-Cards <input type="radio" name="radio" onclick="FilterNC(type)"></li>
                <li><button class="sidebar-clear" onclick="ClearFilter(type)">Clear Filter</button></li>
            </ul>
        </div>


        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for video in tutorial_list %}
                    <div class="{{ video['type'] }}">
                        <div class="col mb-5 {{ video['type'] }}" >
                            <div class="card h-100">
                                <!-- Sale badge-->

                                    <div class="{{ video['difficulty'] }}">{{ video['difficulty'] }}</div>
                                    <div class="badge bg-dark text-white position-absolute" style="top: 1.5rem; right: 0.5rem"></div>

                                <!-- Product image-->
                                <img class="card-img-top" src="{{ url_for('static', filename='uploads/'+video['thumbnail']) }}" alt="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ video['name'] }}</h5>
                                        <!-- Product reviews-->
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                        </div>
                                        <!-- Product price-->
                                            <span>{{ video['type'] }}</span>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <form method="POST">
                                            <button class="watch-vid-btn" type="submit"><a
                                                    href="{{ video['video'] }}" target="_blank" style="text-decoration: none;">Watch Video</a></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>

<script>
var flourish = document.querySelectorAll(".Flourishes");
var trick = document.querySelectorAll(".Trick");
var soh = document.querySelectorAll(".Sleight.of.Hand");
var cards = document.querySelectorAll(".Non-Cards");
var all = document.querySelectorAll(".Flourishes,.Trick,.Sleight.of.Hand,.Non-Cards");
var radio = document.querySelectorAll("input[name='radio']");


function FilterFlourish(type) {
    var i = 0;
    var k = 0;
    var dl = flourish.length;
    for (i; i < all.length; i++) {
        all[i].style.display = 'none';
    };
    for (k; k < dl; k++) {
        flourish[k].style.display = 'block';
    };
}
function FilterTrick(type) {
    var i = 0;
    var k = 0;
    var dl = trick.length;
    for (i; i < all.length; i++) {
        all[i].style.display = 'none';
    };

    for (k; k < dl; k++) {
        trick[k].style.display = 'block';
    };
}
function FilterSOH(type) {
    var i = 0;
    var k = 0;
    var dl = soh.length;
    for (i; i < all.length; i++) {
        all[i].style.display = 'none';
    };

    for (k; k < dl; k++) {
        soh[k].style.display = 'block';
    };
}
function FilterNC(type) {
    var i = 0;
    var k = 0;
    var dl = cards.length;
    for (i; i < all.length; i++) {
        all[i].style.display = 'none';
    };

    for (k; k < dl; k++) {
        cards[k].style.display = 'block';
    };
};
function ClearFilter(type) {
    var i = 0;
    var k = 0;
    for (i; i < all.length; i++) {
        all[i].style.display = 'block';
    };

    for (k; k < 5; k++) {
        radio[k].checked = false;
    };
};

</script>







     <script type="text/javascript">
        $(document).ready(function(){
            //jquery for toggle sub menu
            $(".sub-btn").click(function(){
                $(this).next(".sub-menu").slideToggle();
                $(this).find(".dropdown").toggleClass('rotate');
            });

            /// jquery for expand and collapse the sidebar
            $('.menu-btn').click(function(){
                $('.side-bar').addClass('active');
                $('.menu-btn').css("visibility", "hidden");
            });

            $('.close-btn').click(function(){
                $('.side-bar').removeClass('active');
                $('.menu-btn').css("visibility", "visible");
            })
        });


    </script>




</body>
</html>
